
.App{
    padding: 20px;
    background-color: #fafafa;
}
.map{
  padding: 10px;
  padding-right: 10px;
}
.info{
  padding:10px;
}
.Page{
    
    background-color: #fafafa;
}
.Top{
    margin: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #e6f4ff;
}
#topLogo{
    padding-left: 100px;
    float: left;
}
#topSearch{
    padding-left: 20px;
    padding-right: 50px;
}
.TopSpace{
    width:300px;
}
.mainContent{
    padding-top: 0px;
    padding-bottom: 0px;
}
.leftNav{
    padding: 5px;
}
.paragraph{
  text-indent: 2rem;
  align-self: flex-start;
}
.question{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}
.exam{
  padding-bottom: 20px;
}
.examContainer{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 0px;
  height: 90%;
  align-items: center;
  background-color: white;
  
}
.examContent{
  margin: auto;
  width: 90%;
  min-height: 90%;
}



#myDivider{
  width: 2px;
  margin:0 auto;
  height: 100%;
  background-color: black;
}

#questionCard{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 97%;
  background-color: #fafafa;
}
.foot{
  width: 100%;
  height: 100%;
  background-color: #91caff;
  padding-top: 10px;
}
.slogan{
  width:100%;
  background-color: #91caff;
  padding: 0px;
  margin-top: 5px;
}
.links{
  background-color: #91caff;
  margin-bottom: 20px;
}


/*
map components style
*/
ul li {list-style: none;}

#roadBookController {
  cursor: pointer;
  padding: 7px 10px;
  box-shadow: 0 2px 6px 0 rgba(27, 142, 236, 0.5);
  border-radius: 5px;
  background-color: white;
  color: #91caff;
}
/*
const headerStyle = {
  textAlign: 'center',
  color: '#fff',
  height: 64,
  paddingInline: 50,
  lineHeight: '64px',
  backgroundColor: '#7dbcea',
};
const contentStyle = {
  textAlign: 'center',
  minHeight: 120,
  lineHeight: '120px',
  color: '#fff',
  backgroundColor: '#108ee9',
};
const siderStyle = {
  textAlign: 'center',
  lineHeight: '120px',
  color: '#fff',
  backgroundColor: '#3ba0e9',
};
const footerStyle = {
  textAlign: 'center',
  color: '#fff',
  backgroundColor: '#7dbcea',
};
*/