
.App{
    padding: 20px;
    background-color: #fafafa;
}
.Page{
    
    background-color: #fafafa;
}
.Top{
    margin: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #e6f4ff;
}
#topLogo{
    padding-left: 100px;
    float: left;
}
#topSearch{
    padding-left: 20px;
    padding-right: 50px;
}
.TopSpace{
    width:300px;
}
.mainContent{
    padding-top: 0px;
    padding-bottom: 0px;
}
.leftNav{
    padding: 5px;
}
.paragraph{
  text-align: left;
  text-indent: 2rem;
}
.question{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}
.exam{
  padding-bottom: 20px;
}
.questionButtons{

}
.foot{
  width: 100%;
  height: 100%;
  background-color: #91caff;
  padding-top: 10px;
}
.slogan{
  width:100%;
  background-color: #91caff;
  padding: 0px;
  margin-top: 5px;
}
.links{
  background-color: #91caff;
  margin-bottom: 20px;
}
/*
const headerStyle = {
  textAlign: 'center',
  color: '#fff',
  height: 64,
  paddingInline: 50,
  lineHeight: '64px',
  backgroundColor: '#7dbcea',
};
const contentStyle = {
  textAlign: 'center',
  minHeight: 120,
  lineHeight: '120px',
  color: '#fff',
  backgroundColor: '#108ee9',
};
const siderStyle = {
  textAlign: 'center',
  lineHeight: '120px',
  color: '#fff',
  backgroundColor: '#3ba0e9',
};
const footerStyle = {
  textAlign: 'center',
  color: '#fff',
  backgroundColor: '#7dbcea',
};
*/